{% assign vars = site.data.vars %}

<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    {% if vars.theme.fonturl != "" and vars.theme.fontname != "" %}
    <link href="{{ vars.theme.fonturl }}" rel="stylesheet">
    <style>
      :root {
        font-family: {{ vars.theme.fontname }};
      }
    </style>
    {% endif %}
  </head>
  <body>
    {% if vars.header.shownavbar %}
    <header class="navbar">
      <section class="navbar-section">
        <a href="#" class="btn btn-link">Docs</a>
        <a href="#" class="btn btn-link">Examples</a>
      </section>
      <section class="navbar-center">
        <span>{{ vars.header.title }}</span>
<!--         <img src="https://picturepan2.github.io/spectre/img/spectre-logo.svg"> -->
      </section>
      <section class="navbar-section">
        <a href="#" class="btn btn-link">Twitter</a>
        <a href="#" class="btn btn-link">GitHub</a>
      </section>
    </header>{% endif %}
