{% assign jobs = site.jobs | where: "published", true %}
{% assign count = jobs | size %}
{% assign vars = site.data.vars %}

{% include header.html %}

<div class="hero bg-gray">
  <div class="hero-body">
    <h1>{{ page.header }}</h1>
    <p>{{ page.subheader }}</p>
  </div>
</div>

{% if vars.showjobs %}
  {% if jobs.size > 0 %}
    <h2>Всего вакансий: {{ jobs.size }}</h2>{% for job in jobs %}
      {% include job.html job %}
    {% endfor %}
  {% endif %}
{% endif %}

{% include footer.html %}
