{% include header.html %}

<section class="section">
  <div class="hero fullscreen">
    <div class="hero-body">
      <div class="content">
        <div class="text-center">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% assign jobs = site.jobs | where: "published", true %}
{% assign count = jobs | size %}

{% if page.showjobs %}
  {% if jobs.size > 0 %}
    <h2>Всего вакансий: {{ jobs.size }}</h2>
    {% for job in jobs %}
      <div class="card slide-up">
        <div class="card-container">
          <div class="card-image" style="background-image: url(https://unsplash.it/640/480?random&blur)"></div>
        </div>
        <div class="mobile-title">
          <div class="content">
            <div class="tile">
              <div class="tile__container">
                <p class="tile__title">{{ job.title }}</p>
                <p class="tile__subtitle">By John Doe</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body content">
          <p>{{ job.content }}</p>
        </div>
        <div class="card-footer content">
          {{ job.date }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="placeholder">
      <div class="placeholder-icon">
        <span class="icon">
          <i class="fa fa-wrapper fa-coffee x-large"></i>
        </span>
      </div>
      <h6 class="placeholder-title">{{ site.data.vars.nojobheader}}</h6>
      <div class="placeholder-subtitle">{{ site.data.vars.nojobsubheader}}</div>
    </div>
  {% endif %}
{% endif %}

{% include footer.html %}
