{% include header.html %}

<section class="section">
  <div class="hero fullscreen">
    <div class="hero-body">
      <div class="content">
        <div class="text-center">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% assign jobs = site.jobs | where: "published", true %}
{% assign count = jobs | size %}

{% if page.showjobs %}
  {% if jobs.size > 0 %}
    <h2>Всего вакансий: {{ jobs.size }}</h2>
    <ul>{% for job in jobs %}
      <li>{{ job.title }} - {{ job.date}}</li>
      {% endfor %}</ul>
  {% else %}
    <div class="placeholder">
      <div class="placeholder-icon">
        <span class="icon">
          <i class="fa fa-wrapper fa-coffee x-large"></i>
        </span>
      </div>
      <h6 class="placeholder-title">{{ site.data.vars.nojobheader}}</h6>
      <div class="placeholder-subtitle">{{ site.data.vars.nojobsubheader}}</div>
    </div>
  {% endif %}
{% endif %}

{% include footer.html %}
